*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


html {
  /* footer support */
  position: relative;
  min-height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  /* footer support */
  margin-bottom: 100px;
}

button {
  border: none;
  border-radius: 10px;
}

/* header */

.header {
  background-color: #1f2937;
  color: #fff;
}

.header div {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;

  display: flex;
  justify-content: center;
}

/* main */

.content {
  margin: 80px;
  text-align: center;
}

.container-main {
  max-width: 600px;
  margin: 40px auto;
}

.scoreboard {
  margin-bottom: 10px;
}

.game-status {
  margin-bottom: 10px;

  text-align: center;
}

.score-cards {
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;

  display: flex;
  justify-content: space-between;
}

.score-card {
  width: 180px;
  text-align: center;
}

.sign {
  font-size: 80px;
  margin-bottom: 10px;
}

.score {
  margin: 10px 0;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.button-card > button {
  width: 120px;
  height: 120px;
}

/* footer */

.footer {
  background-color: #1f2937;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  padding: 10px;
  width: 100%;

  position: absolute;
  bottom: 0;
  left: 0;
}

.copyright {
  font-size: 14px;
}

a {
  color: lightblue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
